version: '3.8'

services:
  frontend:
    build: .
    container_name: appmunicipal-frontend
    ports:
      - "8090:80" # Exposed Frontend Port
      - "80:80"
    restart: unless-stopped
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
