spring:
  application:
    name: appmunicipal

  datasource:
    url: jdbc:h2:mem:testdb;MODE=MySQL;DATABASE_TO_LOWER=TRUE;DEFAULT_NULL_ORDERING=HIGH
    driverClassName: org.h2.Driver
    username: sa
    password:

  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: true
    defer-datasource-initialization: true

  h2:
    console:
      enabled: true
      path: /h2-console

  sql:
    init:
      mode: always         # SIEMPRE cargar data.sql
      continue-on-error: false

  servlet:
    multipart:
      max-file-size: 100MB
      max-request-size: 100MB
      enabled: true

logging:
  level:
    org.springframework.web: INFO
    org.hibernate.SQL: WARN
    org.hibernate.type.descriptor.sql.BasicBinder: WARN
    org.springframework.jdbc.datasource.init: INFO
app:
  cors:
    allowed-origins: >
      http://localhost:4200,
      http://localhost:8090,
      http://127.0.0.1:4200,
      http://127.0.0.1:8090,
      http://localhost:3000,
      http://127.0.0.1:3000,
      http://200.13.5.5:8090
    allowed-methods: GET, POST, PUT, DELETE, OPTIONS
    allowed-headers: "*"
    allow-credentials: true