spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
  sql:
    init:
      mode: never  # Deshabilitar data.sql para prod



server:
  port: 8080

app:
  cors:
    allowed-origins: http://localhost:4200,http://localhost:8090,http://127.0.0.1:4200,http://127.0.0.1:8090, http://localhost:3000, http://127.0.0.1:3000